#contact {
    padding: 40px 20px;
    background: #f4f4f4;
    text-align: center;
}

#contact h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

#contact p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    color: #c87c6b;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1em;
}

.contact-info i {
    color: #c87c6b; /* Icon color */
    margin-right: 8px; /* Space between icon and text */
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input, #contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#contact-form button {
    padding: 10px 15px;
    background-color: #c87c6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #a65a43;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #c87c6b;
    text-decoration: none;
    font-weight: bold;
}

.footer-container {
    background: #282c34;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-section {
    margin: 10px 0;
}

.footer h4 {
    color: #c87c6b;
}

.footer-newsletter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

.footer-newsletter button {
    padding: 10px;
    background-color: #c87c6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-newsletter button:hover {
    background-color: #a65a43;
}
